[submodule "third_party/tinyxml2"]
	path = third_party/tinyxml2
	url = https://github.com/leethomason/tinyxml2/
[submodule "third_party/c-hashmap"]
	path = third_party/c-hashmap
	url = https://github.com/Mashpoe/c-hashmap
[submodule "third_party/libdragon"]
	path = third_party/libdragon
	url = https://github.com/DragonMinded/libdragon.git
	branch = preview
